* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Overpass", sans-serif;
}

.header-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none;
  z-index: 4;
}

.header-menu-intro {
  width: 100%;
  height: 90vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff8f70), color-stop(#ff7e66), color-stop(#ff6c5e), color-stop(#ff5757), to(#ff3d53));
  background-image: linear-gradient(to right bottom, #ff8f70, #ff7e66, #ff6c5e, #ff5757, #ff3d53);
  border-bottom-left-radius: 100px;
  position: absolute;
}

.header-menu-intro__patterns {
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-pattern-intro.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.header-menu-sub {
  width: 100%;
  height: 20vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 25px;
}

.header-menu-sub__logo {
  width: 100px;
  height: 40px;
  background-image: url("../images/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.header-menu-sub__icon {
  width: 28px;
  height: 28px;
  background-image: url("../images/icon-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.header-menu-container {
  width: 90%;
  height: 480px;
  background-color: white;
  position: absolute;
  top: 110px;
  left: 5%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 20px 0px black;
          box-shadow: 0px 4px 20px 0px black;
}

.header-menu-container1 {
  width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  border-bottom: 1px solid #c8c8cb;
}

.header-menu-container1 .header-menu-submenus {
  margin: 10px auto;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
}

.header-menu-container1 .header-menu-submenus h2 {
  font-size: 2.2rem;
  text-align: center;
  cursor: pointer;
  margin: 20px;
}

.header-menu-container1 .header-menu-submenus h2:hover {
  text-decoration: underline;
}

.header-menu-container1 .header-menu-submenus h2 span {
  width: 15px;
  height: 8px;
  background-image: url("../images/icon-arrow-dark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-left: 6px;
  margin-bottom: 3px;
  cursor: pointer;
}

.header-menu-submenus .ul {
  list-style: none;
  text-align: center;
  background-color: #c8c8cb;
  width: 200px;
  height: 85%;
  padding: 5px;
  border-radius: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu-submenus .ul li {
  width: 70%;
  margin: 10px;
  font-size: 1.7rem;
  font-weight: bold;
}

.header-menu-submenus .ul li a {
  text-decoration: none;
  color: #4b5862;
}

.header-menu-submenus .ul li:hover {
  border-bottom: 1px solid white;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.unshow {
  display: none;
}

.header-menu-container2 {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px auto;
  padding: 10px;
}

.header-menu-container2 button {
  font-size: 2rem;
  color: #1f3f5b;
  font-weight: bold;
  width: 150px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 50px;
  max-width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 8px;
  text-align: center;
}

.header-menu-container2 .button-login {
  background: none;
}

.header-menu-container2 .button-sign-up {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff8f70), color-stop(#ff7e66), color-stop(#ff6c5e), color-stop(#ff5757), to(#ff3d53));
  background-image: linear-gradient(to right bottom, #ff8f70, #ff7e66, #ff6c5e, #ff5757, #ff3d53);
  color: white;
}

.header-menu-container2 button:hover {
  background-color: #ff525d;
  background-image: none;
  cursor: pointer;
}

.header .nav {
  width: 100%;
  height: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  position: fixed;
  z-index: 3;
}

.header .nav .logo {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: center;
      align-self: center;
  width: 100px;
  height: 40px;
  margin-left: 16%;
  background-image: url("../images/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.header .nav .submenu {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 16%;
  width: 40px;
  height: 30px;
  cursor: pointer;
  background-image: url("../images/icon-hamburger.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.main {
  width: 100%;
  height: auto;
}

.main .main-intro {
  width: 100%;
  height: 500px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff8f70), color-stop(#ff7e66), color-stop(#ff6c5e), color-stop(#ff5757), to(#ff3d53));
  background-image: linear-gradient(to right bottom, #ff8f70, #ff7e66, #ff6c5e, #ff5757, #ff3d53);
  border-bottom-left-radius: 100px;
}

.main .main-intro-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
  grid-template-rows: repeat(6, 1fr);
  height: 500px;
}

.main .main-intro span {
  width: 100%;
  height: 500px;
  max-height: 550px;
  background-image: url("../images/bg-pattern-intro.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.main-intro-container p, .main-intro-container h1 {
  font-size: 3rem;
  color: white;
  font-weight: normal;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  z-index: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.main-intro-container h1 {
  -ms-grid-row: 3;
  grid-row: 3;
}

.main-intro-container p {
  -ms-grid-row: 4;
  grid-row: 4;
  width: 280px;
  font-size: 1.6rem;
}

.main-intro-container button {
  -ms-grid-row: 5;
  grid-row: 5;
  z-index: 2;
  width: 120px;
  height: 50px;
  outline: none;
  cursor: pointer;
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 100px;
  font-weight: bolder;
  font-size: 1.6rem;
  text-align: center;
}

.main-intro-container__start {
  -ms-grid-column: 1;
  grid-column: 1;
  color: #ff525d;
  background-color: white;
  border: none;
}

.main-intro-container__learn {
  -ms-grid-column: 2;
  grid-column: 2;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
}

.main-info {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.main-info-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-info-container h2 {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  color: #25252d;
  margin-top: 50px;
  margin-bottom: 60px;
}

.main-info-container img {
  width: 100%;
  max-width: 550px;
  margin: 20px 0;
}

.main-info-container-paraghrap h3 {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  color: #25252d;
  width: 70%;
  margin: 20px auto;
  color: #1f3f5b;
}

.main-info-container-paraghrap p {
  font-size: 1.6rem;
  color: #4b5862;
  text-align: center;
  line-height: 2.8rem;
  width: 85%;
  max-width: 500px;
  margin: 20px auto;
}

.main-phone {
  width: 100%;
  height: 550px;
  margin-top: 200px;
  margin-bottom: 50px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2c2d3e), color-stop(#303247), color-stop(#353651), color-stop(#393b5a), to(#3e4064));
  background-image: linear-gradient(to right bottom, #2c2d3e, #303247, #353651, #393b5a, #3e4064);
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}

.main-phone-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 150px 100px 250px;
  grid-template-rows: 150px 100px 250px;
  position: relative;
}

.main-phone-container-img {
  -ms-grid-row: 1;
  grid-row: 1;
  width: 100%;
  max-width: 400px;
  -ms-grid-column-align: center;
      justify-self: center;
  position: absolute;
}

.main-phone-container-imgtwo {
  -ms-grid-row: 1;
  grid-row: 1;
  width: 100%;
  max-width: 360px;
  -ms-grid-column-align: center;
      justify-self: center;
  position: absolute;
  top: -180px;
}

.main-phone-container h2 {
  -ms-grid-row: 2;
  grid-row: 2;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  color: white;
  -ms-grid-row-align: center;
      align-self: center;
  z-index: 2;
}

.main-phone-container p {
  -ms-grid-row: 3;
  grid-row: 3;
  font-size: 1.6rem;
  color: #4b5862;
  text-align: center;
  line-height: 2.8rem;
  color: white;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
  max-width: 400px;
  z-index: 2;
}

.main-more {
  width: 100%;
  height: auto;
}

.main-more-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-more-container-illus {
  width: 100%;
  max-width: 550px;
  margin: 20px 0;
}

.main-more-container-paraghrap h3 {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  color: #25252d;
  width: 70%;
  margin: 20px auto;
}

.main-more-container-paraghrap p {
  font-size: 1.6rem;
  color: #4b5862;
  text-align: center;
  line-height: 2.8rem;
  width: 85%;
  max-width: 500px;
  margin: 20px auto;
}

.footer {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  padding-bottom: 20px;
  background-color: #25252d;
  border-top-right-radius: 50px;
}

.footer-logo {
  background-image: url("../images/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 180px;
  height: 70px;
  margin: 40px 0;
}

.footer div h3 {
  font-family: "Overpass", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 28px 0;
}

.footer div ul {
  list-style: none;
  text-align: center;
}

.footer div ul li {
  margin: 15px 0;
}

.footer div ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
}

.footer .attribution {
  text-align: center;
  margin: 5px auto;
  font-size: 1.4rem;
  color: white;
}